/* Allgemeine Einstellungen */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Content Bereich */
.content {
  padding: 20px;
  min-height: 100vh;
  background-color: #fff;
}

.navbar {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
  color: #007bff;
}

.navbar-brand:hover {
  color: #0056b3;
}

.nav-link {
  color: #007bff;
}

.nav-link:hover {
  color: #0056b3;
}

.list-group-item a {
  color: #007bff;
}

.list-group-item a:hover {
  text-decoration: underline;
}
