/* Allgemeine Einstellungen */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  color: #333;
}

/* Content Bereich */
.content {
  padding: 20px;
  min-height: 100vh;
  background-color: #fff;
}

.navbar {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
  color: #007bff;
}

.navbar-brand:hover {
  color: #0056b3;
}

.nav-link {
  color: #007bff;
}

.nav-link:hover {
  color: #0056b3;
}

.list-group-item a {
  color: #007bff;
}

.list-group-item a:hover {
  text-decoration: underline;
}

/* Standardgrößen für größere Bildschirme */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

/* Anpassung für kleinere Bildschirme */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem; /* Kleinere Größe für H1 */
  }

  h2 {
    font-size: 1.2rem; /* Kleinere Größe für H2 */
  }

  h4 {
    font-size: 1rem; /* Kleinere Größe für H4 */
  }
}
